@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --background: 240 7% 8%;
        --foreground: 0 0% 78%;
        --muted: 240 6.31% 13.09%;
        --muted-foreground: 0 0% 55.66%;
        --popover: 240 7% 5%;
        --popover-foreground: 0 0% 88%;
        --card: 240 7% 6%;
        --card-foreground: 0 0% 83%;
        --border: 240 5.88% 20%;
        --input: 240 5.88% 20%;
        --primary: 0 0% 78.04%;
        --primary-foreground: 240 7.32% 8.04%;
        --secondary: 240 5.88% 20%;
        --secondary-foreground: 0 0% 85%;
        --accent: 240 7% 23%;
        --accent-foreground: 240 7% 83%;
        --destructive: 0 84% 49%;
        --destructive-foreground: 0 0% 100%;
        --ring: 0 0% 55.66%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply min-h-screen bg-background text-foreground font-sans antialiased;
    }
    mark {
        @apply bg-primary text-primary-foreground;
    }
}